<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>


<!-- If the message is of type success 
show message with success icon
else show message with error icon -->

{% if messages %}
               
                {% for message in messages %}
                    {% if message.tags == 'success' %}
                        <script>    
                        Swal.fire({
                        title:'Saved!',
                       text:`{{ message }}`,
                        icon:'success',
                        confirmButtonColor:'#6ABE52',
                        backdrop: `
                            rgba(0,0,123,0.4)
                            url("/static/images/gifs/cat.gif")
                            left top
                            no-repeat
                        `
                        });
                        </script>
                    {% else %}
                    <script>  
                    Swal.fire({
                        title:'Error Occured!',
                       text:`{{ message }}`,
                        icon:'error',
                        confirmButtonColor:'#6ABE52',
                        });  
                </script>
                    {% endif %}
                {% endfor %}
                
{% endif %}
