{% url 'recycle:index' as recycle_url %}
{% load static %}
<!DOCTYPE HTML>
<html lang="en">
<head>
	<title>{% block title %}greenCan{% endblock %}</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<link rel="stylesheet" href="{% static 'css/main.css' %}" />
	<link rel="stylesheet" href="{% static 'modules/bootstrap/css/bootstrap-grid.min.css' %}" />
	<link rel="icon" href="{% static 'images/icons/favicon.ico' %}" type="image/x-icon" />
    {% block style %}
    {% endblock %}
</head>

<body>
	<div id="page-wrapper">
		<!-- Header -->
		<header id="header">
			<div class="container-fluid">
				<div class="nav-brand" id="logo">
					<a href="./"><span><img src="{% static 'images/icons/full-logo.svg' %}" height="100%"></span></a>
					<button href="#joinUs" style="border-radius: 0px !important;" class="slanted-btn">
						<span class="slanted-btn-contain">Join Our Community!</span>
					</button>
				</div>
			</div>
		</header>

		<!-- Nav -->
		<nav id="nav" class="navbar align-left mt-0">
			<div class="container-fluid">
				<ul>
					<li class="nav-link"><a href="./">Home</a></li>
					<li class="
                    {% if request.path == recycle_url %}
                    current
                    {% endif %} nav-link"><a href="{{ recycle_url }}">Recycle</a></li>
					<li class="nav-link"><a href="#">Reduce</a></li>
					<li class="nav-link"><a href="#">Reuse</a></li>
				</ul>
			</div>
		</nav>

		<section id="main" class="container-md">
			{% block main %}
            {% endblock %}
		</section>
		
		<!-- Scroll To Top -->
		<div class="d-flex flex-row-reverse p-2" id="scrollToTopContainer">
			<button class="btn btn-circle btn-success" id="scrollToTopBtn">
				<i class="fa fa-arrow-up"></i>
			</button>
		</div>
		<!-- Scroll To Top -->

		<!-- Footer -->
		<footer class="mt-auto text-center text-sm-left container-fluid">
			<!-- Copyright -->
			<div class="d-flex flex-row p-3 w-100">
				&copy; <span id="copyright-year">
					<script>document.write(new Date().getFullYear());</script>
				</span>. All rights reserved
			</div>
			<!-- Copyright -->
		</footer>
	</div>
	<!-- Footer -->

	<!-- Scripts -->
	<script src="{% static 'js/jquery.min.js' %}"></script>
	<script src="{% static 'js/jquery.dropotron.min.js' %}"></script>
	<script src="{% static 'js/jquery.scrolly.min.js' %}"></script>
	<script src="{% static 'js/browser.min.js' %}"></script>
	<script src="{% static 'js/breakpoints.min.js' %}"></script>
	<script src="{% static 'js/util.js' %}"></script>
	<script src="{% static 'js/main.js' %}"></script>
	<script src="{% static 'modules/bootstrap/js/bootstrap.min.js' %}"></script>
	<script>
		window.onscroll = function () { myFunction() };

		var navbar = document.getElementById("nav");
		var sticky = navbar.offsetTop;

		function myFunction() {
			if (window.pageYOffset >= sticky) {
				navbar.classList.add("sticky")
			} else {
				navbar.classList.remove("sticky");
			}
		}
	</script>
    {% block scripts %}
    {% endblock %}
</body>
</html>