{% url 'recycle:index' as recycle_base_url %}
{% url 'reuse:index' as reuse_base_url %}
{% url 'reduce:index' as reduce_base_url %}
{% url 'home:index' as home_base_url %}
{% url 'notification:index' as notification_url %}
{% load static %}
{% load notifications_tags %}

<!DOCTYPE HTML>
<html lang="en">
<head>
	<title>{% block title %}greenCan{% endblock %}</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<link rel="stylesheet" href="{% static 'css/main.css' %}" />
	<link rel="stylesheet" href="{% static 'modules/bootstrap/css/bootstrap-grid.css' %}" />
	<link rel="icon" href="{% static 'images/icons/favicon.ico' %}" type="image/x-icon" />
    {% block style %}
    {% endblock %}
</head>

<body>
	<div id="page-wrapper" class="container-fuild">
		<!-- Header -->
		<header id="header">
			<div class="container-fluid">
				<div class="nav-brand" id="logo">
					<a href="/"><span><img src="{% static 'images/icons/full-logo.svg' %}" height="100%"></span></a>
					{% if not user.is_authenticated %}
						<a href="{% url 'accounts:login' %}" style="border-radius: 0px !important;" class="button slanted-btn">
							<span class="slanted-btn-contain">Join Our Community!</span>
						</a>
					{% endif %}
				</div>
			</div>
		</header>

		<!-- Nav -->
		<nav id="nav" class="navbar align-left mt-0">
			<div class="container-fluid">
				<div class="d-flex justify-content-between">
					<ul>
						<li class="
						{% if request.path == home_base_url %}
						current
						{% endif %} nav-link"><a href="{{ home_base_url }}">Home</a></li>
						<li class="
						{% if request.path == recycle_base_url or is_recycle %}
						current
						{% endif %} nav-link"><a href="{{ recycle_base_url }}">Recycle</a></li>
						<li class="
						{% if request.path == reuse_base_url or is_reuse %}
						current
						{% endif %} nav-link"><a href="{{ reuse_base_url }}">Reuse</a></li>
						<li class="
						{% if request.path == reduce_base_url or is_reduce %}
						current
						{% endif %} nav-link"><a href="{{ reduce_base_url }}">Reduce</a></li>
					</ul>
					{% if user.is_authenticated %}
					<div class="d-flex">
						<a class="notification-btn-container px-2" href="{% url 'notification:index' %}">
							<div id="notification-icon" class="notification-icon-wrapper pt-1">
								<i class="fas fa-bell" style="color: white; font-size: 2em; padding-top: 8%;"></i>
								{% live_notify_badge badge_class="badge" %}
							</div>
						</a>
						<div class="profile-btn-container">
							<div id="profile-dropdown" class="dropdown">
								<a class="btn btn-secondary dropdown-toggle d-flex align-items-center px-3" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									{% if user.avatar %}
										<img style="height: 35px !important;" src="{{ user.avatar | escape }}">
									{% else %}
										<img style="height: 35px !important;" src="{% static 'images/avatar/avatar.svg' %}">
									{% endif %}
										<span class="align-middle text-white name">{{ user.get_full_name | escape }}</span>
								</a>
							  
								<div class="dropdown-menu d-none" id="profile-dropdown-menu" aria-labelledby="dropdownMenuLink">
								  <a class="dropdown-item" href="{% url 'accounts:user-profile' %}">My Profile</a>
								  <a class="dropdown-item" href="{% url 'reuse:my-posts' %}">My Posts</a>
								  <a class="dropdown-item" href="{% url 'rewards:index' %}">Green Credits</a>
								  <a class="dropdown-item" href="{% url 'accounts:logout' %}">Logout</a>
								</div>
							</div>
						</div>
					</div>
					{% endif %}
				</div>
			</div>
		</nav>

		<section id="main" class="container-md mx-md-auto mx-1">
			{% block main %}
            {% endblock %}
		</section>
		
		<!-- Scroll To Top -->
		<div class="d-flex flex-row-reverse" id="scrollToTopContainer">
			<button class="btn btn-circle btn-success" id="scrollToTopBtn">
				<i class="fa fa-arrow-up"></i>
			</button>
		</div>
		<!-- Scroll To Top -->

		<!-- Footer -->
		<footer class="text-center text-sm-left container-fluid">
			<!-- Copyright -->
			<div class="d-flex flex-row p-3 w-100">
				&copy; <span id="copyright-year">
					<script>document.write(new Date().getFullYear());</script>
				</span>. All rights reserved
			</div>
			<!-- Copyright -->
		</footer>
	</div>
	<!-- Footer -->

	<!-- Scripts -->
	<script src="{% static 'js/jquery.min.js' %}"></script>
	<script src="{% static 'js/jquery.dropotron.min.js' %}"></script>
	<script src="{% static 'js/jquery.scrolly.min.js' %}"></script>
	<script src="{% static 'js/browser.min.js' %}"></script>
	<script src="{% static 'js/breakpoints.min.js' %}"></script>
	<script src="{% static 'js/util.js' %}"></script>
	<script src="{% static 'js/main.js' %}"></script>
	<script src="{% static 'modules/bootstrap/js/popper.min.js' %}"></script>
	<script src="{% static 'modules/bootstrap/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/notify.js' %}"></script>
	<script>
		function my_special_notification_callback(data) {
			$('#notification-icon .badge').html(data.unread_count);
		}
	</script>
	{% register_notify_callbacks callbacks='fill_notification_badge,my_special_notification_callback' api_name='count' refresh_period=30 fetch=99 %}
    {% block scripts %}
    {% endblock %}
	<!-- Scripts -->
</body>
</html>