{% extends 'template.html' %}
{% load static %}

{% block title %}
Moderation
{% endblock %}

{% block style %}
<style>
/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid transparent;
  background-color: transparent;
  width: 100%;
  display: flex;
}

/* Style the buttons inside the tab */
.tab button {
  width: 50%;
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  color: #21212d;
  border-radius: 0px;
  background-color: transparent;
}

/* Create an active/current tablink class */
.tab button.active {
  border-bottom: 2px solid #21212d;
}

/* Change background color of buttons on hover */
.tab button:hover {
  border-bottom: 2px solid #6ABE52;
  color: #6ABE52;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: none;
  border-top: none;
}

.badge {
  padding: 2px 10px;
  border: none;
  outline: none;
  font-size: 16px;
  width: max-content;
  font-weight: 500;
  text-transform: uppercase;
}

.badge-round {
  border-radius: 30px;
}

.badge-warning {
  background-color: #FFA500 !important;
  color: #fff;
}

.paginate_button a{
  color: #6ABE52 !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  background: none !important;
  background-color: #21212d !important;
  border-radius: 40px !important;
}

</style>
<link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
{% endblock %}

{% block main %}
<div class="container mb-5">
    <div class="row">
        <div class="col-md-12">
            <div class="tab mt-5">
                <button class="tablinks active" onclick="openTab(event, 'Moderate-Posts')">Moderate Posts</button>
                <button class="tablinks" onclick="openTab(event, 'Moderate-Credit-Requests')">Moderate Credit Claim Requests</button>
            </div>
            <div id="Moderate-Posts" class="tabcontent" style="display:block;">
              <h3>Moderate Posts</h3>
              <table style="width: 100%;" class="stripe" id="post-table">
                  <thead>
                    <th>Sr. No.</th>
                    <th>Post Title</th>
                    <th>Created On</th>
                    <th>Status</th>
                    <th>Action</th>
                  </thead>
                  {% for post in posts %}
                    <tr>
                      <td>{{ forloop.counter }}</td>
                      <td>{{ post.title | title | truncatechars:30 }}</td>
                      <td>{{ post.created_on }}</td>
                      <td><div class="badge badge-warning badge-round">Pending</div></td>
                      <td>/volunteer/review/post/{{post.id}}</td>
                    </tr>
                  {% endfor %}
              </table>
            </div>
            <div id="Moderate-Credit-Requests" class="tabcontent">
                <h3>Moderate Credit Claim Requests</h3>
                <table style="width: 100%;" class="stripe" id="credit-request-table">
                  <thead>
                    <th>Sr. No.</th>
                    <th>Caption</th>
                    <th>Created On</th>
                    <th>Status</th>
                    <th>Action</th>
                  </thead>
                  {% for request in credit_request %}
                    <tr>
                      <td>{{ forloop.counter }}</td>
                      <td>{{ request.caption | title | truncatechars:30 }}</td>
                      <td>{{ request.uploaded_on }}</td>
                      <td><div class="badge badge-warning badge-round">Pending</div></td>
                      <td>/volunteer/review/credit-request/{{request.id}}</td>
                    </tr>
                  {% endfor %}
              </table>
            </div>              
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
{% include 'sweetalert2.html' %}
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js" type="text/javascript"></script>
<script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap5.min.js" type="text/javascript"></script>
<script>
    function openTab(evt, tabName) {
      var i, tabcontent, tablinks;
      tabcontent = document.getElementsByClassName("tabcontent");
      for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
      }
      tablinks = document.getElementsByClassName("tablinks");
      for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
      }
      document.getElementById(tabName).style.display = "block";
      evt.currentTarget.className += " active";
    }

    $(document).ready(function() {
        var postTable = $('#post-table').DataTable({
            "columnDefs": [
              {
                  "targets": [ 4 ],
                  "visible": false,
                  "searchable": false
              },
          ]
        });
        
        $('#post-table tbody').on('click', 'tr', function () {
            var data = postTable.row( this ).data();
            window.open(data[4],'_self');
        });
    
      var creditTable = $('#credit-request-table').DataTable({
        "columnDefs": [
              {
                  "targets": [ 4 ],
                  "visible": false,
                  "searchable": false
              },
          ]
      });

      $('#credit-request-table tbody').on('click', 'tr', function () {
            var data = creditTable.row( this ).data();
            window.open(data[4],'_self');
      });
    });
</script>
{% endblock %}
