{% extends 'template.html' %}
{% load static %}

{% block title %}
Notifications | greenCan
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'modules/uikit-3.13.10/css/uikit3_4.min.css' %}" />

<style>
.uk-timeline .uk-timeline-item .uk-card {
	max-height: 300px;
}

.uk-timeline .uk-timeline-item {
    display: flex;
    position: relative;
}

.uk-timeline .uk-timeline-item::before {
    background: #dadee4;
    content: "";
    height: 100%;
    left: 19px;
    position: absolute;
    top: 20px;
    width: 2px;
	z-index: -1;
}

.uk-timeline .uk-timeline-item .uk-timeline-icon .uk-badge {
	margin-top: 20px;
    width: 40px;
    height: 40px;
}

.uk-timeline .uk-timeline-item .uk-timeline-content {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 0 0 0 1rem;
}
</style>
{% endblock %}

{% block main %}
<div class="uk-container uk-padding">
    <div id="notification-container" class="uk-timeline">
		<div class="uk-timeline-item">
            <div class="uk-timeline-icon">
                <span class="uk-badge"><span uk-icon="check"></span></span>
            </div>
            <div class="uk-timeline-content">
                <div class="uk-card uk-card-default uk-margin-medium-bottom uk-overflow-auto">
                    <div class="uk-card-header">
                        <div class="uk-grid-small uk-flex-middle" uk-grid>
                            <h3 class="uk-card-title"><time datetime="2020-07-06">July 6</time></h3>
                            <span class="uk-label uk-label-danger uk-margin-auto-left">Fix</span>
                        </div>
                    </div>
                    <div class="uk-card-body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="loader"><span id="load-more" class="uk-margin-small-right" uk-icon="triangle-down"></span>Load more</div>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'modules/uikit-3.13.10/js/uikit3_4-icons.min.js' %}"></script>
<script src="{% static 'modules/uikit-3.13.10/js/uikit3_4.min.js' %}"></script>
<script src="{% static 'modules/uikit-3.13.10/js/uikit-icons.min.js' %}"></script>
<script src="{% static 'modules/uikit-3.13.10/js/uikit.min.js' %}"></script>

<script>
    $(document).ready(function(){
        let page = 1;
        let hasNext = true;
        $('.load-more').click(function(){
            put_more_data();
        });

        function createNotificationCards(notifications){
            $.each(notifications, function(key, notification){
                let n = '<div class="uk-timeline-item"></div><div class="uk-timeline-icon">\
                    <span class="uk-badge"><span uk-icon="check"></span></span><div class="uk-timeline-content">\
                    <div class="uk-card uk-card-default uk-margin-medium-bottom uk-overflow-auto">\
                    <div class="uk-card-header"><div class="uk-grid-small uk-flex-middle" uk-grid>\
                    <h3 class="uk-card-title"><time datetime="2020-07-08">' + notification['created_on_year'] + '-'
                    + notification['created_on_month'] + '-' + notification['created_on_day'] + '</time>\
                    </h3>';
                
                if(notification['message_type'] == "approved"){
                    n += '<span class="uk-label uk-label-success uk-margin-auto-left">'
                        + notification['message_type'] + '</span></div></div><div class="uk-card-body">';
                }
                else if(notification['message_type'] === "denied"){
                    n += '<span class="uk-label uk-label-danger uk-margin-auto-left">'
                        + notification['message_type'] + '</span></div></div><div class="uk-card-body">';
                }
                else{
                    n += '<span class="uk-label uk-label-warning uk-margin-auto-left">'
                        + notification['message_type'] + '</span></div></div><div class="uk-card-body">';
                }

                if(notification['is_read'] == true){
                    for(let i=0; i < notification['messages'].length; i++){
                        n += '<p>' + notification['messages'][i] + '</p>';
                    }
                }
                else{
                    for(let i=0; i < notification['messages'].length; i++){
                        n += '<p style="color: red;">' + notification['messages'][i] + '</p>';
                    }
                }

                n += '</div></div></div></div>';
                $('#notification-container').append($(n));
            });
        }

        function setData(data){
            result = Object.entries(data['notification']);
            notifications = result.map(([key, value]) => value);
            createNotificationCards(notifications);
        }

        function put_more_data(){
            if(hasNext){
                $.ajax({
                    url: "{% url 'notification:get-notifications' %}",
                    type: "POST",
                    async: false,
                    data: {
                        "csrfmiddlewaretoken": "{{ csrf_token }}",
                        "page": page
                    },
                    success: function (data) {
                        setData(data); 
                        if(data.has_next!=hasNext){
                            $('.loader').hide();
                            hasNext = data.has_next
                        }
                        if(hasNext){
                            page = data.next_page_number   
                        }
                    }
                });
            }
        }

        put_more_data();
    });

</script>
{% endblock %}