{% extends "admin/change_form.html" %}
{% load static admin_urls static admin_modify i18n %}
{% block extrahead %}
{{ block.super }}
<style type="text/css">
ins, del {
text-decoration:none;
}

del {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#FFCCCC none repeat scroll 0 0;
}

ins {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#BBFFBB none repeat scroll 0 0;
}

.img-wrapper {
	float: left;
	width: 75%;
}
.img-wrapper img {
	max-width: 100%;
}
.img-wrapper img + img {
	margin-top: 10px;
}
.submit-row input[name=reject] {
	background: #ba2121;
}
.submit-row input[name=approve] {
	background: #5bc76a;
}
</style>
{% endblock %}

{% block content %}
{% block object-tools %}
{% if object_admin_url %}
	<ul class="object-tools">
	<li><a href="{{ object_admin_url }}" class="historylink">{% trans "Change object" %}</a></li>
	</ul>
{% endif %}
{% endblock %}{# object-tools #}
<form enctype="multipart/form-data" action="" method="post"
id="moderatedobject_form">{% csrf_token %}


<div>
	<fieldset class="module aligned ">
	    <h2>{% trans "Post concern" %}</h2>
	</fieldset>

    <a href="{{post_url}}" target="_blank">View Post</a>
	{% for fieldset in adminform %}
		{% include "admin/includes/fieldset.html" %}
	{% endfor %}
    {% if not moderated and is_post_concern_log %}
	<div class="submit-row" style="width:300px;">
		<p class="deletelink-box">
			<input type="submit" value="{% trans 'Reject' %}" name="reject"  />
		</p>
		<input type="submit" value="{% trans 'Approve' %}" name="approve" />
	</div>
	{% elif is_post_concern_log != True %}
		{% block after_related_objects %}{% endblock %}

		{% block submit_buttons_bottom %}{% submit_row %}{% endblock %}

		{% block admin_change_form_document_ready %}
		<script id="django-admin-form-add-constants"
				src="{% static 'admin/js/change_form.js' %}"
				{% if adminform and add %}
					data-model-name="{{ opts.model_name }}"
				{% endif %}
				async>
		</script>	
		{% endblock %}
    {% endif %}

</form>
</div>

{% endblock %}
