{% extends 'template.html' %}
{% load static %}

{% block title %}
Recycle | greenCan
{% endblock %}

{% block style %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin="" />
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
<link rel="stylesheet" href="{% static 'css/map.css' %}" />
{% endblock %}

{% block main %}
<div class="d-flex justify-content-md-center justify-content-sm-start">
    <h1 class="h1">Search for Drop-off Sites</h1>
</div>

<div class="row container-fluid px-0">
    <div class="col-md-8 col-sm-10 col-12 offset-md-0 offset-sm-1 pr-2">
        <div id="map"></div>
    </div>
    <div class="col-md-4 col-sm-10 col-12 offset-md-0 offset-sm-1">
        <div id="listings" class="mt-2"></div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script src="{% static 'js/maps.js' %}"></script>
<script>
    function markPoints(){
        $.getJSON("{% static 'drop-off-sites.json' %}", function( data ) {
            map = L.map('map').setView([data["centroid"]["lat"],data["centroid"]["long"]], 12);
            L.circle([data["centroid"]["lat"],data["centroid"]["long"]], {radius: 8 * 1609.344, fillColor: '#6ABE52CC', color: '#6ABE52'}).addTo(map);
            L.tileLayer('https://api.maptiler.com/maps/streets/{z}/{x}/{y}.png?key=EQtP0E2R31WbTGk6hOcg', {
                attribution: '<a href="https://www.maptiler.com/copyright/" target="_blank">&copy; MapTiler</a> <a href="https://www.openstreetmap.org/copyright" target="_blank">&copy; OpenStreetMap contributors</a>',
            }).addTo(map);
            L.control.scale().addTo(map);
            var marker;
            $.each( data["sites"], function( key,site ) {
                marker = L.marker([site["lat"],site["long"]],{icon: colorCategoryMap[site['category'].toLowerCase()][0]})
                marker.bindTooltip('<b>'+site["name"]+'</b><br/>'+site["phone_number"]+'<br/>'+site["email"], {
                    sticky: true
                }).addTo(map);            
                
                $('#listings').append($("<button class='mb-2 btn' onclick='focusOn("+site['lat']+","+site['long']+")'>"+site['name']+"</button>"));
                
                // You card DOM over here
            
            });
            map.addControl(new customControl());
            legend.addTo(map);
            $('.legend').hide();
        });
    }
    
    window.onload = function() {markPoints()}

    function focusOn(lat,long){
        map.flyTo(new L.LatLng(lat, long));
    }

</script>
{% endblock %}