{% extends 'template-auth.html' %}
{% load static %}

{% block title %}
Forgot Password
{% endblock %}

{% block main %}

    <h6 class="login-subheading">Woo-Hoo!</h6>
    <h3 class="login-heading mb-5">Password reset sent</h3>

    <p>We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>

    <p>If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</p>

    <div class="text-secondary text-center small mt-3">
        <a class="text-light-green" href="{% url 'accounts:login' %}">Go back to Sign-In <i class="fa fa-arrow-right"></i></a>
    </div>

{% endblock %}