
{% extends 'template-auth.html' %}
{% load static %}

{% block title %}
Sign-In
{% endblock %}

{% block main %}
  <h6 class="login-subheading">Welcome Back</h6>
  <h3 class="login-heading mb-5">Login to your account</h3>

  {% include 'messages.html' %}

  <!-- Sign In Form -->
  <form action="{% url 'accounts:login' %}" method="POST">
    {% csrf_token %}
    <div class="form-group mb-2">
      <label for="email">Email</label>
      <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com" required>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" name="password" placeholder="••••••••" required>
    </div>
    <div class="w-100 text-right mb-2">
      <button class="password-toggler small" type="button">
        <span><i class="far fa-eye"></i> Show</span> password  
      </button>
    </div>
    
    <div class="row mb-3">  
      <!-- <div class="col-7">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" name="remember-me" id="remember-me">
          <label class="form-check-label" for="remember-me">
            Remember me
          </label>
        </div>
      </div> -->
      <div class="col-12 text-right">
        <a class="text-light-green text-link" href="{% url 'accounts:forget-password' %}">Forgot password?</a>
      </div>
    </div>
    <div class="gy-5">
      <div class="d-grid">
        <button class="btn btn-lg btn-login fw-bold mb-2" type="submit">Login now</button>
        <button  class="btn btn-lg btn-google-auth fw-normal mb-2" type="button">
          <img src="{% static 'images/icons/google_G_logo.png' %}" height="25"/> 
          {% load socialaccount %}
          <a style="text-decoration: none;color: rgb(247, 247, 247);" 
          href='{% provider_login_url "google"%}'>Sign in with Google</a></button>
          
      </div>
      
        
      <div class="text-secondary text-center small mt-3">
        Dont have an account? <a class="text-light-green" href="{% url 'accounts:create' %}">Join free today</a>
      </div>
    </div>
  </form>
{% endblock %}
