{% load static %}

<p><input id="avatar" type="hidden" name="avatar" value ="{{ user.avatar }}" hidden class="form-control"></p>
<div class = "container-fluid">
    <div class = "row mr-1">
        <div class="col-md-2 col-sm-4">
            <button type="button" class="avatarBtn" data-url = "{% static 'images/avatar/1.svg' %}" >
                <img style="max-height: 50px;" src ="{% static 'images/avatar/1.svg' %}">
            </button>
        </div>
        <div class="col-md-2 col-sm-4">
            <button type="button" class="avatarBtn" data-url = "{% static 'images/avatar/2.svg' %}" >
                <img style="max-height: 50px;" src ="{% static 'images/avatar/2.svg' %}">
            </button>
        </div>
        <div class="col-md-2 col-sm-4">
            <button type="button" class="avatarBtn" data-url = "{% static 'images/avatar/3.svg' %}" >
                <img style="max-height: 50px;" src ="{% static 'images/avatar/3.svg' %}">
            </button>
        </div>
        <div class="col-md-2 col-sm-4">
            <button type="button" class="avatarBtn" data-url = "{% static 'images/avatar/4.svg' %}" >
                <img style="max-height: 50px;" src ="{% static 'images/avatar/4.svg' %}">
            </button>
        </div>
        <div class="col-md-2 col-sm-4">
            <button type="button" class="avatarBtn" data-url = "{% static 'images/avatar/5.svg' %}" >
                <img style="max-height: 50px;" src ="{% static 'images/avatar/5.svg' %}">
            </button>
        </div>

        <div class="col-md-2 col-sm-4">
            <button type="button" class="avatarBtn" data-url = "{% static 'images/avatar/6.svg' %}" >
                <img style="max-height: 50px;" src ="{% static 'images/avatar/6.svg' %}">
            </button>
        </div>
        <div class="col-md-2 col-sm-4">
            <button type="button" class="avatarBtn" data-url = "{% static 'images/avatar/7.svg' %}" >
                <img height="50" src ="{% static 'images/avatar/7.svg' %}">
            </button>
        </div>
        <div class="col-md-2 col-sm-4">
            <button type="button" class="avatarBtn" data-url = "{% static 'images/avatar/8.svg' %}" >
                <img height="50" src ="{% static 'images/avatar/8.svg' %}">
            </button>
        </div>
        <div class="col-md-2 col-sm-4">
            <button type="button" class="avatarBtn" data-url = "{% static 'images/avatar/9.svg' %}" >
                <img height="50" src ="{% static 'images/avatar/9.svg' %}">
            </button>
        </div>
        <div class="col-md-2 col-sm-4">
            <button type="button" class="avatarBtn" data-url = "{% static 'images/avatar/10.svg' %}" >
                <img height="50" src ="{% static 'images/avatar/10.svg' %}">
            </button>
        </div>

        <div class="col-md-2 col-sm-4">
            <button type="button" class="avatarBtn" data-url = "{% static 'images/avatar/11.svg' %}" >
                <img height="50" src ="{% static 'images/avatar/11.svg' %}">
            </button>
        </div>
        <div class="col-md-2 col-sm-4">
            <button type="button" class="avatarBtn" data-url = "{% static 'images/avatar/12.svg' %}" >
                <img height="50" src ="{% static 'images/avatar/12.svg' %}">
            </button>
        </div>
        <div class="col-md-2 col-sm-4">
            <button type="button" class="avatarBtn" data-url = "{% static 'images/avatar/13.svg' %}" >
                <img height="50" src ="{% static 'images/avatar/13.svg' %}">
            </button>
        </div>
        <div class="col-md-2 col-sm-4">
            <button type="button" class="avatarBtn" data-url = "{% static 'images/avatar/14.svg' %}" >
                <img height="50" src ="{% static 'images/avatar/14.svg' %}">
            </button>
        </div>
        <div class="col-md-2 col-sm-4">
            <button type="button" class="avatarBtn" data-url = "{% static 'images/avatar/15.svg' %}" >
                <img height="50" src ="{% static 'images/avatar/15.svg' %}">
            </button>
        </div>
        <div class="col-md-2 col-sm-4">
            <button type="button" class="avatarBtn" data-url = "{% static 'images/avatar/16.svg' %}" >
                <img height="50" src ="{% static 'images/avatar/16.svg' %}">
            </button>
        </div>
        <div class="col-md-2 col-sm-4">
            <button type="button" class="avatarBtn" data-url = "{% static 'images/avatar/17.svg' %}" >
                <img height="50" src ="{% static 'images/avatar/17.svg' %}">
            </button>
        </div>
        <div class="col-md-2 col-sm-4">
            <button type="button" class="avatarBtn" data-url = "{% static 'images/avatar/18.svg' %}" >
                <img height="50" src ="{% static 'images/avatar/18.svg' %}">
            </button>
        </div>
        <div class="col-md-2 col-sm-4">
            <button type="button" class="avatarBtn" data-url = "{% static 'images/avatar/19.svg' %}" >
                <img height="50" src ="{% static 'images/avatar/19.svg' %}">
            </button>
        </div>
        <div class="col-md-2 col-sm-4">
            <button type="button" class="avatarBtn" data-url = "{% static 'images/avatar/20.svg' %}" >
                <img height="50" src ="{% static 'images/avatar/20.svg' %}">
            </button>
        </div>
        <div class="col-md-2 col-sm-4">
            <button type="button" class="avatarBtn" data-url = "{% static 'images/avatar/21.svg' %}" >
                <img height="50" src ="{% static 'images/avatar/21.svg' %}">
            </button>
        </div>
        <div class="col-md-2 col-sm-4">
            <button type="button" class="avatarBtn" data-url = "{% static 'images/avatar/22.svg' %}" >
                <img height="50" src ="{% static 'images/avatar/22.svg' %}">
            </button>
        </div>
        <div class="col-md-2 col-sm-4">
            <button type="button" class="avatarBtn" data-url = "{% static 'images/avatar/23.svg' %}" >
                <img height="50" src ="{% static 'images/avatar/23.svg' %}">
            </button>
        </div>
        <div class="col-md-2 col-sm-4">
            <button type="button" class="avatarBtn" data-url = "{% static 'images/avatar/24.svg' %}" >
                <img height="50" src ="{% static 'images/avatar/24.svg' %}">
            </button>
        </div>
        <div class="col-md-2 col-sm-4">
            <button type="button" class="avatarBtn" data-url = "{% static 'images/avatar/25.svg' %}" >
                <img height="50" src ="{% static 'images/avatar/25.svg' %}">
            </button>
        </div>
        <div class="col-md-2 col-sm-4">
            <button type="button" class="avatarBtn" data-url = "{% static 'images/avatar/26.svg' %}" >
                <img height="50" src ="{% static 'images/avatar/26.svg' %}">
            </button>
        </div>
        <div class="col-md-2 col-sm-4">
            <button type="button" class="avatarBtn" data-url = "{% static 'images/avatar/27.svg' %}" >
                <img height="50" src ="{% static 'images/avatar/27.svg' %}">
            </button>
        </div>
        <div class="col-md-2 col-sm-4">
            <button type="button" class="avatarBtn" data-url = "{% static 'images/avatar/28.svg' %}" >
                <img height="50" src ="{% static 'images/avatar/28.svg' %}">
            </button>
        </div>
        <div class="col-md-2 col-sm-4">
            <button type="button" class="avatarBtn" data-url = "{% static 'images/avatar/29.svg' %}" >
                <img height="50" src ="{% static 'images/avatar/29.svg' %}">
            </button>
        </div>
        <div class="col-md-2 col-sm-4">
            <button type="button" class="avatarBtn" data-url = "{% static 'images/avatar/30.svg' %}" >
                <img height="50" src ="{% static 'images/avatar/30.svg' %}">
            </button>
        </div>
    </div>
    </div>
</div>
<div class="modal-footer">
<div class="d-flex float-right py-3">
<button type="button" class="btn btn-rounded"  style="background-color: #777 !important;" data-bs-dismiss="modal" onClick="window.location.reload();">Close</button>
<span class="text-white">&nbsp;</span>
<button class="btn btn-rounded" type="submit">Save</button>
</div>