{% extends 'template.html' %}
{% load static %}

{% block title %}
userProfile
{% endblock %}

{% block style %}
<style>

.row-height {
    height: 650px;
}

.col-md-5{
    padding-top: 25px;
    text-align: center;
    justify-content: center;
    background-color:  rgba(196, 196, 196, 0.6);
}

</style>
{% endblock %}
{% block main %}
<div class ="container-fluid">
    <div class = "row row-height d-flex">
        <div class = "col-md-5">
            {% if user.avatar %}
            <img height="100" src="{{user.avatar}}" >
			{% else %}
            <img height="100" src="{% static 'images/avatar/avatar.svg' %}" >
            {% endif %}
            <br>
            <div style="text-align: left;">
                <br>
                <p><b>Name:   </b>  {{user.get_full_name}} </p>
                <p><b>Email:   </b>  {{user.email}} </p>
                {% if user.phone_number %}
                <p><b>Phone:   </b> +1 {{user.phone_number}} </p>
                {% endif %}
                {% if user.phone_number %}
                <p><b>Location:   </b> {{user.location}} </p>
                {% endif %}
            </div>
        </div>
        {% include 'messages.html' %}
        <div class = "col-md-7">
            <form method="POST">
                {% csrf_token %}
               <!-- {{ form.as_p}}-->
               <div class = "form-group">
               <p><label for="first_name">First Name:</label>
                <input id="first_name" type="text" name="first_name" class="form-control"></p>

                <p><label for="email">Email:</label>
                    <input id="email" type="email" name="email" class="form-control"></p>
                
                <button type="submit">Save</button>
                </div>
            </form>
        </div>
    </div>

</div>


{% endblock %}
