{% extends 'template.html' %}
{% load static %}

{% block title %}
Volunteer Registration
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock %}

{% block main %}
<div class ="container-fluid p-0 m-0">
    <div class="d-flex justify-content-md-center justify-content-sm-start">
        <h1 class="h1">Become a Volunteer</h1>
    </div>
    <div class="d-flex justify-content-md-center justify-content-sm-start">
        <div class = "row">
            <div class="col-md-11">
                <p>You need to answer all the questions below inorder to submit your application successfully</p>
                <form method="POST">
                    
                    <div class="form-group mb-2">
                        <label for="question-1">How do you classify the following image?</label>
                        <input type="radio" value=1 id="question-1" name="question-1"> Aprove
                        <input type="radio" value=0 id="question-1" name="question-1"> Deny
                    </div>
                    
                    <div class="form-group mb-2">
                        <label for="essay-1"><b>Why do you want to become a greenCan Volunteer? <small>(max 500 chars.)</small></b></label>
                        <textarea class="form-control" name="essay-1" required id="essay-1" maxlength="500"></textarea>
                    </div>
                    <div class="form-group mb-2">
                        <label for="essay-2"><b>Why do you belive that our mission is important? <small>(max 500 chars.)</small></b></label>
                        <textarea class="form-control" name="essay-2" required id="essay-2" maxlength="500"></textarea>
                    </div>
                    <div class="custom-control custom-checkbox mb-3">
                        <input type="checkbox" class="custom-control-input" id="consent" name="consent" value="consent">
                        <label class="custom-control-label" for="consent">I agree with all the Terms & Conditions of greenCan, and I will well and faithfully discharge the duties of a greenCan Volunteer.</label>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{% include 'sweetalert2.html' %}
{% endblock %}
