.outer_frame{
  position: absolute;
  width: 1249px;
  height: 839px;
  left: 10px;
  top: 10px;

  background: #FFFFFF;
  border: 1px solid #000000;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

  .cancel_icon{
    position: absolute;
    width: 24px;
    height: 24px;
    left: 1190px;
    top: 24px;
    /*
    background: #8B8B8B;
    */
  }

  .create_ad_post_text{
    position: absolute;
    width: 243px;
    height: 35px;
    left: calc(50% - 243px/2);
    top: 39px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
  }

  .upload_pic_frame{
    position: absolute;
    width: 965px;
    height: 203px;
    left: calc(50% - 965px/2);
    top: 109px;

    background: #FFFFFF;
    border: 4px dashed #C4C4C4;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
  }

    .upload_text{
      position: absolute;
      width: 366px;
      height: 22px;
      left: calc(50% - 366px/2 - 0.5px);
      top: calc(30% - 22px/2 - 0.5px);

      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 28px;
      text-align: center;

      color: #C4C4C4;
    }

    .add_pic_frame{
      position: absolute;
      width: 200px;
      height: 39.75px;
      left: calc(50% - 200px/2 - 4.5px);
      top: calc(70% - 40px/2 - 4.5px);

      background: #C4C4C4;
      border-radius: 20px;
    }

    .plus_icon{
      position: absolute;
      width: 200px;
      height: 39.88px;
      left: calc(55% - 200px/2 + 4.5px);
      top: calc(50% - 40px/2 + 0.5px);

      font-family: Roboto;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 28px;
      display: flex;
      align-items: center;
      text-align: center;

      /*
      color: #0c0b0b;
      */
    }

    .add_pic_text{
      position: absolute;
      width: 200px;
      height: 39.88px;
      left: calc(70% - 200px/2 + 4.5px);
      top: calc(50% - 40px/2 + 0.5px);

      font-family: Roboto;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 21px;
      display: flex;
      align-items: center;
      text-align: center;

      color: #FFFFFF;
    }


  .title_frame{
    position: absolute;
    width: 471px;
    height: 76px;
    left: 193px;
    top: 343px;
  }

    .title_text{
      position: absolute;
      width: 46px;
      height: 23px;
      left: 9px;
      top: 0px;

      font-family: Roboto;
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 23px;
      display: flex;
      align-items: center;

      color: #21212D;
    }

    .title_rectangle{
      position: absolute;
      left: 0%;
      right: 0%;
      top: 34.21%;
      bottom: 0%;
  
      border: 1px solid #C4C4C4;
      box-sizing: border-box;
      border-radius: 25px;
    }

    .enter_title{
      position: absolute;
      width: 380.84px;
      height: 46px;
      left: 29.52px;
      top: 30px;

      font-family: Open Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 25px;
      display: flex;
      align-items: center;

      color: #C4C4C4;
    }

  .description_frame{
    position: absolute;
    width: 471px;
    height: 243px;
    left: 193px;
    top: 433px;

  }

    .description_text{
      position: absolute;
      width: 109px;
      height: 23px;
      left: 9px;
      top: 0px;

      font-family: Roboto;
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 23px;
      display: flex;
      align-items: center;

      color: #21212D;
    }

    .description_rectangle{
      position: absolute;
      width: 471px;
      height: 220px;
      left: 0px;
      top: 23px;
  
      background: #FFFFFF;
      border: 1px solid #C4C4C4;
      box-sizing: border-box;
      border-radius: 20px;
    }

    .enter_description{
      position: absolute;
      width: 380.84px;
      height: 46px;
      left: 24px;
      top: 27px;

      font-family: Open Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 25px;
      display: flex;
      align-items: center;

      color: #C4C4C4;
    }

  .category_frame{    
    position: absolute;
    width: 333px;
    height: 74px;
    left: 684px;
    top: 343px;
  }

    .category_text{
      position: absolute;
      width: 87px;
      height: 23px;
      left: 11px;
      top: 0px;

      font-family: Roboto;
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 23px;
      display: flex;
      align-items: center;

      color: #21212D;
    }

    .category_rectangle{
      position: absolute;
      left: 0%;
      right: 0%;
      top: 32.43%;
      bottom: 0%;
  
      border: 1px solid #C4C4C4;
      box-sizing: border-box;
      border-radius: 25px;
    }

    .enter_category{
      position: absolute;
      width: 290px;
      height: 46px;
      left: 20px;
      top: 26px;

      font-family: Open Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 25px;
      display: flex;
      align-items: center;

      color: #C4C4C4;
    }

    .category_select_icon{
      position: absolute;
      width: 20px;
      height: 20px;
      left: 251px;
      top: 40px;
      /*
      background: #C4C4C4;
      */
    }

  .contact_frame{
    position: absolute;
    width: 333px;
    height: 73px;
    left: 684px;
    top: 429px;
  }

    .contact_text{
      position: absolute;
      width: 199px;
      height: 23px;
      left: 11px;
      top: 0px;

      font-family: Roboto;
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 23px;
      display: flex;
      align-items: center;

      color: #21212D;
    }

    .contact_rectangle{
      position: absolute;
      left: 0%;
      right: 0%;
      top: 31.51%;
      bottom: 0%;
  
      border: 1px solid #C4C4C4;
      box-sizing: border-box;
      border-radius: 25px;
    }

    .enter_contact{
      position: absolute;
      width: 290px;
      height: 46px;
      left: 20px;
      top: 27px;

      font-family: Open Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 25px;
      display: flex;
      align-items: center;

      color: #C4C4C4;
    }

  .email_frame{
    position: absolute;
    width: 333px;
    height: 73px;
    left: 684px;
    top: 511px;

  }

    .email_text{
      position: absolute;
      width: 109px;
      height: 23px;
      left: 11px;
      top: 0px;

      font-family: Roboto;
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 23px;
      display: flex;
      align-items: center;

      color: #21212D;
    }

    .email_rectangle{
      position: absolute;
      left: 0%;
      right: 0%;
      top: 31.51%;
      bottom: 0%;
  
      border: 1px solid #C4C4C4;
      box-sizing: border-box;
      border-radius: 25px;
    }

    .enter_email{
      position: absolute;
      width: 290px;
      height: 46px;
      left: 20px;
      top: 27px;

      font-family: Open Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 25px;
      display: flex;
      align-items: center;

      color: #C4C4C4;
    }

  .zipcode_frame{
    position: absolute;
    width: 333px;
    height: 73px;
    left: 684px;
    top: 594px;
    
  }

    .zipcode_text{
      position: absolute;
      width: 258px;
      height: 23px;
      left: 11px;
      top: 0px;

      font-family: Roboto;
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 23px;
      display: flex;
      align-items: center;

      color: #21212D;
    }

    .zipcode_rectangle{
      position: absolute;
      left: 0%;
      right: 0%;
      top: 31.51%;
      bottom: 0%;
  
      border: 1px solid #C4C4C4;
      box-sizing: border-box;
      border-radius: 25px;
    }

    .enter_zipcode{
      position: absolute;
      width: 290px;
      height: 46px;
      left: 20px;
      top: 27px;

      font-family: Open Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 25px;
      display: flex;
      align-items: center;

      color: #C4C4C4;
    }

  .post_frame{
    position: absolute;
    width: 240px;
    height: 80px;
    right: 35px;
    bottom: 35px;
  }

    .post_text{
      position: absolute;
      width: 78px;
      height: 35px;
      left: 81px;
      top: 25px;

      font-family: Roboto;
      font-style: normal;
      font-weight: bold;
      font-size: 30px;
      line-height: 35px;
      display: flex;
      align-items: center;
      text-align: center;

      color: #FFFFFF;
    }

    .post_rectangle{
      position: absolute;
      width: 240px;
      height: 80px;
      left: 0px;
      top: 0px;
  
      background: #6ABE52;
      border-radius: 40px;
    }
