.left-frame{
    width: 460px;
    height: 298px;
    /* left: calc(50% - 460px/2 - 267px);
    top: calc(50% - 298px/2 + 71px); */
    
    }
    
    .box-left{
        width: 460px;
        height: 298px;
        /* display: flex; */
    /* justify-content: center; /* align horizontal */
    /* align-items: center;  */
        
        
        background: #6ABE52;
        border: 3px dashed #008037;
        box-sizing: border-box;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
        }
    
        .text-box-left{
          
        text-decoration: none;
        
        font-family: Roboto;
        font-style: normal;
        font-weight: 900;
        font-size: 50px;
        line-height: 59px;
        }
    
    
    .right-frame{
    
    width: 460px;
    height: 298px;
    
    
    
    }
    
    a.landing-anchors{
        text-decoration: none;
        font-family: Roboto;
        font-style: normal;
        font-weight: 900;
        font-size: 50px;
        line-height: 59px;
        display: flex;
        align-items: center;
        text-align: center;
        
        color: #21212D;
    }
    
    
    .or-text{
        display: flex;
    justify-content: center; /* align horizontal */
    align-items: center;
        font-family: Roboto;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #ffffff;
    }
    
    
    
    .line{
     /* width: 394px; */
    height: 0px;
    
    
    border: 5px solid #21212D;
    transform: rotate(90deg);
    }
    
    
    .box-right{
        /* position: absolute; */
    width: 460px;
    height: 298px;
    
    /* left: 0px;
    top: 0px; */
    
    background: #6ABE52;
    border: 3px dashed #008037;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    }
    
    .text-box-right{
        /* position: absolute; */
    /* left: 29px;
    top: 90px; */
    
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
    line-height: 59px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #21212D;
    }
    