.left-frame{
    width: 460px;
    height: 298px;
    /* left: calc(50% - 460px/2 - 267px);
    top: calc(50% - 298px/2 + 71px); */
    
    }
    
    .box-left{
        width: 460px;
        height: 298px;
        display: flex;
        flex-direction: column;
        vertical-align: middle;
    justify-content: center; /* align horizontal */
    align-items: center;
        
        
        background: #6ABE52;
        border: 3px dashed #008037;
        box-sizing: border-box;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
        }
    
        .text-box-left{
            /* position: absolute; */
        /* width: 352px;
        height: 118px; */
        /* left: 54px;
        top: 95px; */
        height: inherit;
        text-decoration: none;
        padding: 30px;
        
        font-family: Roboto;
        font-style: normal;
        font-weight: 900;
        font-size: 50px;
        line-height: 59px;
        display: flex;
        align-items: center;
        text-align: center;
        
        color: #21212D;
        }
    
    
    .right-frame{
    
    width: 460px;
    height: 298px;
    
    
    
    }
    
.or-container-l{
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(90deg);
    background-color: #21212d !important;
    color: #fff;
    text-transform: uppercase;
    line-height: 1.2rem;
    height: max-content;
    width: 38px !important;
    height: 38px !important;
    border-radius: 50% !important;
    font-weight: 600;
    vertical-align: middle;
}

.horizontal-divider-l .or-container-l{
    position: relative;
    top: -25px;
    left: calc(50% - 25px);
    align-content: center;
    width: 50px !important;
    height: 50px !important;
}
    .horizontal-divider-l {
        display: flex;
        transform: rotate(-90deg);
        margin: 2em 0;
        width: 298px;
        left: -15%;
        height: 5px;
        border-radius: 2.5px;
        background-color: #21212d;
        position: relative;
    }
    a.landing-anchors{
        height: inherit;
        text-decoration: none;
        font-family: Roboto;
        font-style: normal;
        font-weight: 900;
        font-size: 50px;
        line-height: 59px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #21212D;
    }
    
    
    .or-text{
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #ffffff;
    }
    
    
    
    .line{
     /* width: 394px; */
    height: 0px;
    
    
    border: 5px solid #21212D;
    transform: rotate(90deg);
    }
    
    
    .box-right{
        /* position: absolute; */
    flex-direction: column;
    vertical-align: middle;

    min-width: 460px;
    min-height: 298px;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center;
    /* left: 0px;
    top: 0px; */
    
    background: #6ABE52;
    border: 3px dashed #008037;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    }
    
    .text-box-right{
    flex-direction: column;
    height: inherit;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
    line-height: 59px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #21212D;
    }