.card{
    background: white;
    border:none;
    box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.3);
    border-radius: 20px;
    transition: transform .3s;
    margin-top: 20px;
}

.card:hover{
    transform: translateY(5px);
    box-shadow: 2px 2px 26px 0px rgba(0,0,0,0.3);
}

.card-img-top{
    width:100%;
    height:15vw;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#cardInfo{
    padding: 0 20px 20px
}
.card button{
    position: relative;
    right: -18px;
    top: 50px;
    padding:10px;
    background:#ffffff;
    border-radius: 30px;
    border: 1px solid #000000;

    color: #000000;
    max-width: 100%;
    max-height: 100%;
    width: 18vh;
    height: 6vh;

    text-align:center;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    cursor:pointer;
}

.card-text{
    position: relative;
    left: 5px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 0px;
    display: inline;
    align-items: center;
    text-align: center;
    color: #6ABE52;
}

#positionIcon{
    color:grey;
    font-size: 16px;
} 

.modal{
	position: absolute;
    float: left;
    left: 50%;
    top: 50%;
    max-width: 60%;
    transform: translate(-50%, -50%);
    background:#ffffff;
    border: 2px solid #00000060;
    border-radius: 10px;

    padding:20px;

    box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.3);
}
