textarea.form-control {
    min-height: 150px !important;
    max-height: auto;
    width: 100%;
    border-radius: 20px !important;
    font-family: 'Roboto',sans-serif;
}

.form-control {
    height: 40px !important;
}

.form-check {
    position: relative;
  }
  
.form-check label {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    height: 28px;
    left: 0;
    position: absolute;
    top: 0;
    width: 28px;
}
  
.form-check label:after {
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    content: "";
    height: 6px;
    left: 7px;
    opacity: 0;
    position: absolute;
    top: 8px;
    transform: rotate(-45deg);
    width: 12px;
}
  
.form-check input[type="checkbox"] {
    visibility: hidden;
}
  
.form-check input[type="checkbox"]:checked + label {
    background-color: #66bb6a;
    border-color: #66bb6a;
}
  
.form-check input[type="checkbox"]:checked + label:after {
    opacity: 1;
}
  
.form-select{
    -webkit-border-radius: 50px !important;
    -moz-border-radius: 50px !important;
    border-radius: 50px !important;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 28px;
    padding: .25em 1em;
    display: block;
    width: 30vw;
    min-width: 200px;
    height: 40px !important;
}

.form-select:focus {
    outline: none;
    border-color: #6ABE52;
}
  
.upload-image-frame {
    border: 4px dashed #c4c4c4;
    border-radius: 20px;
    width: inherit;
    max-height: 200px;
    padding-top: 3em;
    padding-bottom: 3em;
    align-items: center;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}
  
.upload-image-frame .upload-text,
.upload-image-frame .upload-text-subheading {
    color: #c4c4c4;
    font-size: 1.2em;
    font-weight: normal;
    text-align: center;
    margin-bottom: 38px;
    display: flex;
    flex-wrap: wrap;
}

.upload-image-frame .upload-text-subheading{
    font-size: .5em;
    font-weight: lighter;
}
  
.upload-image-frame .upload-btn {
    color: #fff;
    background-color: #c4c4c4;
    width: fit-content;
    padding: 7px 30px;
    border-radius: 30px;
    text-transform: uppercase;
}
  
.upload-text img {
    width: 60px !important;
    height: 60px !important;
    object-fit: fill;
    margin: 2px !important;
}

.select2-container--default .select2-selection--multiple {
    border-radius: 20px !important;
    border-color: #c4c4c4 !important;
    height: 40px !important;
}

.select2-container--default .select2-selection--multiple:focus {
    border-color: #6ABE52 !important;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #6ABE52 !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #6ABE52 !important;
    border-radius: 20px !important;
    color: #fff !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: #c4c4c4 !important;
}
