.overlay {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1;
    width: 100%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 20px;
    bottom: 10px;
    text-align: center;
}

/* When you mouse over the container, fade in the overlay title */
.grid-item:hover .overlay {
    opacity: 1;
}

.grid.are-images-unloaded {
    opacity: 0;
}
  
.grid_item img {
    display: block;
    max-width: 100%;
}

.grid.effect-5 {
	-webkit-perspective: 1300px;
	perspective: 1300px;
}

.grid.effect-5 .grid-item.animate {
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transform-origin: 50% 50% -300px;
	transform-origin: 50% 50% -300px;
	-webkit-transform: rotateX(-180deg);
	transform: rotateX(-180deg);
	-webkit-animation: fly .9s ease-in-out forwards;
	animation: fly .9s ease-in-out forwards;
}

@-webkit-keyframes fly {
	0% { }
	100% { -webkit-transform: rotateX(0deg); opacity: 1; }
}

@keyframes fly {
	0% { }
	100% { -webkit-transform: rotateX(0deg); transform: rotateX(0deg); opacity: 1; }
}

.loader-wheel {
    font-size: 64px;
    position: relative;
    height: 1em;
    width: 0.55em;
    padding-left: 0.45em;
    animation: loader-wheel-rotate 0.5s steps(12) infinite;
    overflow: hidden;
}

.loader-wheel i {
    display: block;
    position: absolute;
    height: 0.3em;
    width: 0.1em;
    border-radius: 0.05em;
    background: #333;
    opacity: 0.8;
    transform: rotate(-30deg);
    transform-origin: center 0.5em;
}

@keyframes loader-wheel-rotate {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
