.pagination {
  position: relative;
}
.pagination a {
  position: relative;
  display: inline-block;
  color: #21212d;
  text-decoration: none;
  font-size: 1.2rem;
  padding: 8px 16px 10px;
}
.pagination a:before {
  z-index: -1;
  position: absolute;
  height: 100%;
  width: 100%;
  content: "";
  top: 0;
  left: 0;
  background-color: #6abe52;
  border-radius: 30px;
  transform: scale(0);
  transition: all 0.2s;
}
.pagination a:hover,
.pagination a .pagination-active {
  color: #fff;
}
.pagination a:hover:before,
.pagination a .pagination-active:before {
  transform: scale(1);
}
.pagination .pagination-active {
  color: #fff;
}
.pagination .pagination-active:before {
  transform: scale(1);
}
.pagination-newer {
  margin-right: 50px;
}
.pagination-older {
  margin-left: 50px;
}
