.row-height {
    height: 100vh;
}

.col-md-5{
    padding-top: 25px;
    text-align: center;
    justify-content: center;
    background-color:  rgba(196, 196, 196, 0.6);
}

/*the avatar and edit button*/
.avatarContainer{
  width: 150px;
  height: 150px;
  display: inline-block;
  margin: auto;
  position: relative; 
}

.editAvatarBtn {
  background-color: #21212d !important;
  color: #fff;
  border: #C4C4C4 4px solid !important;
  border-radius:50px;
  padding: 9px;
  padding-left: 12px;
  padding-right: 12px;
  max-width: 50px;
  align-items: center;
  position: absolute;
  bottom:0;
  right: 0;
}

button.editAvatarBtn > .fas{
    font-size: small; 
    color: white !important;
} 
button.editAvatarBtn:hover{
  color: black !important;
  background-color: #6ABE52 !important;
}

button.avatarBtn{
    background-color: transparent;
    padding: 10px;
    border-radius: 10%;
}

button.avatarBtn:hover, 
button.avatarBtn:focus{
    background-color:rgba(196, 196, 196, 0.6)!important;
}
button.avatarBtn:focus{
    background-color: #69be52a4!important;
}

input.form-control {
    text-align: center !important;
    width: 90%;
    font-size: 1.1em;
    padding: auto;
}

.form-group {
    text-align: left !important;
}

.form-group label {
    left: 20px !important;
    font-size: 1.1em;
    padding-bottom: 20px !important;
}

.text-danger {
    color: red;
}

.text-success {
    color: green;
}
