{% extends 'template-auth.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
Forgot Password
{% endblock %}

{% block main %}
    <h6 class="login-subheading">Don't Worry</h6>
    <h3 class="login-heading mb-5">Forgot your password?</h3>

  <!-- Forgot Password Form -->
  <form method="POST" class="novalidate" novalidate>
    {% csrf_token %}
    <div class="form-group mb-3">
      {{ form.email | as_crispy_field }}
    </div>

    <div class="gy-5">
      <div class="d-grid">
        <button class="btn btn-lg btn-login fw-bold mb-2" type="submit">Send Password Reset Email</button>
      </div>
      <p class="text-secondary text-center small mt-2">
        Enter your email and we'll send you the instructions for re-setting your password.
      </p>
      <div class="text-secondary text-center small mt-3">
        <a class="text-light-green" href="{% url 'account:login' %}">Back to Sign-In <i class="fa fa-arrow-right"></i></a>
      </div>
    </div>
  </form>
{% endblock %}
