{% extends 'template-auth.html' %}
{% load static %}

{% block title %}
Forgot Password
{% endblock %}

{% block main %}

    <h6 class="login-subheading">Woo-Hoo!</h6>
    <h3 class="login-heading mb-5">Password reset complete</h3>

    <p>Your password has been set. You may go ahead and log in now.</p>

    <div class="text-secondary text-center small mt-3">
        <a class="text-light-green" href="{% url 'account:login' %}">Go back to Sign-In <i class="fa fa-arrow-right"></i></a>
    </div>

{% endblock %}