{% extends 'template.html' %}
{% load static %}

{% block title %}
Reuse | CreateAdPost
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/adpostui.css' %}" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
{% endblock %}


{% block main %}


<div class="outer_frame">
  <form method="POST" action="/adpostform">
    <div class="cancel_icon">

    </div>
    <div class="create_ad_post_text">
      Create an Ad Post
    </div>
    <div class="upload_pic_frame">
      <div class="upload_text">
        Upload few pictures of the item
      </div>
      <button type="button" onclick="alert('Hello world!')">
        <div class="add_pic_frame">
          <div class="plus_icon">
            <i class="fa fa-plus" style="color: #FFFFFF"></i>
          </div>
          <div class="add_pic_text">
            ADD PICTURES
          </div>
        </div>
      </button>
    </div>
    <div class="title_frame">
      <div class="title_text">
        Title:
      </div>        
      <input type="text" class="enter_title" id="enter_title" name="title" placeholder="  Enter the Title">        
    </div> 
  
  
    <div class="description_frame">
      <div class="description_text">
        Description:
      </div>
      <textarea class="enter_description" name="description" placeholder="  Enter the description"></textarea>               
    </div>
  
  
    <div class="category_frame">
      <div class="category_text">
        Category:
      </div>
      <select id="country" class="category_select_icon" name="category">
        <option value="blank"> Select</option>
        <option value="ewaste"> Ewaste</option>
        <option value="textile"> Textile</option>
      </select>        
    </div>  
  
  
    <div class="contact_frame">
      <div class="contact_text">
        Your Contact Number:
      </div>
      <input type="tel" class="enter_contact"  id="enter_contact" name="phone_number" placeholder="  Enter your Contact Number">            
    </div> 
  
  
    <div class="email_frame">
      <div class="email_text">
        Your Email:
      </div>
      <input type="email" class="enter_email"  id="enter_email" name="email" placeholder="  Enter your E-mail">           
    </div>
  
  
    <div class="zipcode_frame">
      <div class="zipcode_text">
        Zipcode of Pick-up Location:
      </div>
      <input type="text" class="enter_zipcode"  id="enter_zipcode" name="zip_code" pattern="[0-9]{5}" placeholder="  Enter the Zipcode of the location">
    </div>
  
  
    <div class="post_frame">
      <input type="submit" class="post_text" value="    POST">
    </div>  
  
    <input type="hidden" id="userId" name="user" value="1">

  </form>
</div>

{% endblock %}
