{% extends 'template.html' %}
{% load static %}

{% block title %}
Reuse | CreateAdPost
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/adpostui.css' %}" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
{% endblock %}


{% block main %}


<div class="outer_frame">
  <form action="some_page.php">
    <div class="cancel_icon">

    </div>
    <div class="create_ad_post_text">
      Create an Ad Post
    </div>
    <div class="upload_pic_frame">
      <div class="upload_text">
        Upload few pictures of the item
      </div>
      <div class="add_pic_frame">
        <div class="plus_icon">
          <i class="fa fa-plus" style="color: #FFFFFF"></i>
        </div>
        <div class="add_pic_text">
          ADD PICTURES
        </div>
      </div>
    </div>
    <div class="title_frame">
      <div class="title_text">
        Title:
      </div>
      <div class="title_rectangle">
      </div>
      <div class="enter_title">
       <input type="text" id="enter_title" name="enter_title" placeholder="Enter the Title">
      </div>
    </div>
  
  
  
  
  
    <div class="description_frame">
      <div class="description_text">
        Description:
      </div>
      <div class="description_rectangle">
      </div>
      <div class="enter_description">
        <input type="text" id="enter_description" name="enter_description" placeholder="Enter the Item Description">
      </div>
    </div>
  
  
    <div class="category_frame">
      <div class="category_text">
        Category:
      </div>
      <div class="category_rectangle">
      </div>
      <div class="enter_category">
        <input type="text" id="enter_category" name="enter_category" placeholder="Select Item Category">
      </div>
      <div class="category_select_icon">
        <!--<i class="fa fa-caret-down" style="color: #C4C4C4"></i>--->
        <select id="country" name="country">
          <option value="blank"></option>
          <option value="ewaste">Ewaste</option>
          <option value="textile">Textile</option>
        </select>
      </div>
    </div>
  
  
  
  
  
  
  
    <div class="contact_frame">
      <div class="contact_text">
        Your Contact Number:
      </div>
      <div class="contact_rectangle">
      </div>
      <div class="enter_contact">
        <input type="tel" id="enter_contact" name="enter_contact" placeholder="Enter your Contact Number">
      </div>
    </div>
  
  
  
    <div class="email_frame">
      <div class="email_text">
        Your Email:
      </div>
      <div class="email_rectangle">
      </div>
      <div class="enter_email">
        <input type="email" id="enter_email" name="enter_email" placeholder="Enter your E-mail">
      </div>
    </div>
  
  
    <div class="zipcode_frame">
      <div class="zipcode_text">
        Zipcode of Pick-up Location:
      </div>
      <div class="zipcode_rectangle">
      </div>
      <div class="enter_zipcode">
        <input type="text" id="enter_zipcode" name="enter_zipcode" pattern="[0-9]{5}" placeholder="Enter the Zipcode of the location">
      </div>
    </div>
  
  
    <div class="post_frame">
      <div class="post_rectangle">
      </div>
      <div class="post_text">
        <input type="submit" value="POST">
      </div>
    </div>
  
  
  
  </form>
</div>

{% endblock %}
