{% extends 'template.html' %}
{% load static %}

{% block title %}
Reuse | ShowData
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/adpostui.css' %}" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
{% endblock %}


{% block main %}


{% for data in alldata %}
<tr>
<td>{{ data.email }}</td>
<td>
{{ data.description }}</td>

{% endfor %}

{% endblock %}
