{% extends 'template.html' %}
{% load static %}

{% block title %}
Reuse | greenCan
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/carousel.css' %}" />
<link rel="stylesheet" href="{% static 'css/form.css' %}" />
<link rel="stylesheet" href="{% static 'css/modal.css' %}" />
<link rel="stylesheet" href="{% static 'modules/owl-carousel-2/css/owl-carousel2.min.css' %}" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.3/css/bootstrapValidator.min.css">
<style>
  .has-error .help-block {
    color: red;
  }
  .form-select{
    outline: none;
  }
  .form-select:focus {
    border-color: #6abe52;
  }

  .shelter-home-card {
    cursor: pointer;
  }
</style>
{% endblock %}

{% block main %}

<div class="d-flex flex-column justify-content-center my-5">
  <button class="btn-xlg btn-rounded mb-md-2 mb-1 mt-3 mx-auto {% if not user.is_authenticated %}
  disabled
  {% else %}
  coolBeans
  {% endif %}
  " data-bs-toggle="modal" data-bs-target="#postAd_Modal" {% if not user.is_authenticated %}
  disabled
  {% endif %}>POST AN AD</button>
  {% if not user.is_authenticated %}
    <span style="color: red; text-align: center;">Login is requied to post an ad.</span>
  {% endif %}
  <div class="horizontal-divider">
        <div class="or-container">
            <span class="">OR</span>
        </div>
      </div>
    <a href="{% url 'reuse:ngo-donation' %}" class="button btn-xlg btn-rounded coolBeans mt-md-1 mt-1" >NEAR BY DONATION SITE</a>
</div>
<!-- Carousel -->
<div class="container-fluid">
  <div class="wrapper mb-5">
    <h1 class="d-flex justify-content-center">
      NYC Shelter Homes
    </h1>
    <div class="carousel owl-carousel">
      <div class="card shelter-home-card" data-url="https://www.google.com/maps?saddr=My+Location&daddr=40.812663,-73.924125">
        <div class="row">
            <div class="col-md-5 col-12 d-md-block d-sm-none d-none pr-0">
              <img src="{% static 'images/donation/donate-1.png' %}" class="mt-1 ml-1 mb-0">
            </div>
            <div class="col-md-7 col-12 pl-0 my-auto">
              <div class="container card-content d-flex justify-content-center flex-column pl-0 pr-0">
                <h4 class="title my-0">Haven</h4>
                <div class="justify-content-left pr-0 pl-0">
                  <div class="row">
                    <div class="col-md-1 pl-0">
                      <i class="fas fa-map-marker-alt grey-icon"></i>
                    </div>
                    <div class="col-md-1 text-primary text-address">
                      2640 Third Ave.,<br/>
                      Bronx, NY 10454
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-1 pl-0">
                      <i class="fas fa-clock grey-icon"></i>
                    </div>
                    <div class="col-md-10 text-primary text-time">
                      Open 24 x 7
                      <div class="small-time text-white">.</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
      <div class="card shelter-home-card" data-url="https://www.google.com/maps?saddr=My+Location&daddr=40.689535,-73.843952">
        <div class="row">
            <div class="col-md-5 col-12 d-md-block d-sm-none d-none pr-0">
              <img src="{% static 'images/donation/donate-2.png' %}" class="mt-1 ml-1 mb-0">
            </div>
            <div class="col-md-7 col-12 pl-0 my-auto">
              <div class="container card-content d-flex justify-content-center flex-column pl-0 pr-0">
                <h4 class="title my-0">Queens Drop In Center</h4>
                <div class="justify-content-left pr-0 pl-0">
                  <div class="row">
                    <div class="col-md-1 pl-0">
                      <i class="fas fa-map-marker-alt grey-icon"></i>
                    </div>
                    <div class="col-md-1 text-primary pr-0 text-address">
                      100-32 Atlantic Ave.,<br/>
                      Jamaica, NY 11416
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-1 pl-0">
                      <i class="fas fa-clock grey-icon"></i>
                    </div>
                    <div class="col-md-10 text-primary text-time pr-0">
                      Open 7:30 - 20:30
                      <div class="small-time">24 hours (winters)</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
      <div class="card shelter-home-card" data-url="https://www.google.com/maps?saddr=My+Location&daddr=40.676015,-73.905105">
        <div class="row" >
            <div class="col-md-5 col-12 d-md-block d-sm-none d-none pr-0">
              <img src="{% static 'images/donation/donate-3.png' %}" class="mt-1 ml-1 mb-0">
            </div>
            <div class="col-md-7 col-12 pl-0 my-auto">
              <div class="container card-content d-flex justify-content-center flex-column pl-0 pr-0">
                <h4 class="title my-0">The Gathering Place</h4>
                <div class="justify-content-left pr-0 pl-0">
                  <div class="row">
                    <div class="col-md-1 pl-0">
                      <i class="fas fa-map-marker-alt grey-icon"></i>
                    </div>
                    <div class="col-md-1 text-primary pr-0 text-address">
                      2402 Atlantic Ave.,<br/>
                      Brooklyn, NY 11233
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-1 pl-0">
                      <i class="fas fa-clock grey-icon"></i>
                    </div>
                    <div class="col-md-10 text-primary text-time pr-0">
                      Open 24 x 7
                      <div class="small-time text-white">.</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
      <div class="card shelter-home-card" data-url="https://www.google.com/maps?saddr=My+Location&daddr=40.745377,-73.981306">
        <div class="row">
            <div class="col-md-5 col-12 d-md-block d-sm-none d-none pr-0">
              <img src="{% static 'images/donation/donate-1.png' %}" class="mt-1 ml-1 mb-0">
            </div>
            <div class="col-md-7 col-12 pl-0 my-auto">
              <div class="container card-content d-flex justify-content-center flex-column pl-0 pr-0">
                <h4 class="title my-0">Mainchance</h4>
                <div class="justify-content-left pr-0 pl-0">
                  <div class="row">
                    <div class="col-md-1 pl-0">
                      <i class="fas fa-map-marker-alt grey-icon"></i>
                    </div>
                    <div class="col-md-1 text-primary pr-0 text-address">
                      120 E. 32nd Street,<br/>
                      Manhattan, NY 10016
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-1 pl-0">
                      <i class="fas fa-clock grey-icon"></i>
                    </div>
                    <div class="col-md-10 text-primary text-time pr-0">
                      Open 24 x 7
                      <div class="small-time text-white">.</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
      <div class="card shelter-home-card" data-url="https://www.google.com/maps?saddr=My+Location&daddr=40.749139,-73.994016">
        <div class="row">
            <div class="col-md-5 col-12 d-md-block d-sm-none d-none pr-0">
              <img src="{% static 'images/donation/donate-4.png' %}" class="mt-1 ml-1 mb-0">
            </div>
            <div class="col-md-7 col-12 pl-0 my-auto">
              <div class="container card-content d-flex justify-content-center flex-column pl-0 pr-0">
                <h4 class="title my-0">Olivieri</h4>
                <div class="justify-content-left pr-0 pl-0">
                  <div class="row">
                    <div class="col-md-1 pl-0">
                      <i class="fas fa-map-marker-alt grey-icon"></i>
                    </div>
                    <div class="col-md-1 text-primary pr-0 text-address">
                      257 W. 30th Street,<br/>
                      Manhattan, NY 10001
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-1 pl-0">
                      <i class="fas fa-clock grey-icon"></i>
                    </div>
                    <div class="col-md-10 text-primary text-time pr-0">
                      Open 7:30 - 20:30
                      <div class="small-time">24 hours (winters)</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
      <div class="card shelter-home-card" data-url="https://www.google.com/maps?saddr=My+Location&daddr=40.645821,-74.077908">
        <div class="row">
            <div class="col-md-5 col-12 d-md-block d-sm-none d-none pr-0">
              <img src="{% static 'images/donation/donate-2.png' %}" class="mt-1 ml-1 mb-0">
            </div>
            <div class="col-md-7 col-12 pl-0 my-auto">
              <div class="container card-content d-flex justify-content-center flex-column pl-0 pr-0">
                <h4 class="title my-0">Project Hospitality</h4>
                <div class="justify-content-left pr-0 pl-0">
                  <div class="row">
                    <div class="col-md-1 pl-0">
                      <i class="fas fa-map-marker-alt grey-icon"></i>
                    </div>
                    <div class="col-md-1 text-primary pr-0 text-address">
                      150 Richmond Terrace,<br/>
                      Staten Island, NY 10301
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-1 pl-0">
                      <i class="fas fa-clock grey-icon"></i>
                    </div>
                    <div class="col-md-10 text-primary text-time pr-0">
                      Open 24 x 7
                      <div class="small-time text-white">.</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
      <div class="card shelter-home-card" data-url="https://www.google.com/maps?saddr=My+Location&daddr=40.816615,-73.889883">
        <div class="row">
            <div class="col-md-5 col-12 d-md-block d-sm-none d-none pr-0">
              <img src="{% static 'images/donation/donate-5.png' %}" class="mt-1 ml-1 mb-0">
            </div>
            <div class="col-md-7 col-12 pl-0 my-auto">
              <div class="container card-content d-flex justify-content-center flex-column pl-0 pr-0">
                <h4 class="title my-0">Living Room</h4>
                <div class="justify-content-left pr-0 pl-0">
                  <div class="row">
                    <div class="col-md-1 pl-0">
                      <i class="fas fa-map-marker-alt grey-icon"></i>
                    </div>
                    <div class="col-md-1 text-primary pr-0 text-address">
                      800 Barretto Street,<br/>
                      Bronx, NY 10474
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-1 pl-0">
                      <i class="fas fa-clock grey-icon"></i>
                    </div>
                    <div class="col-md-10 text-primary text-time pr-0">
                      Open 24 x 7
                      <div class="small-time text-white">.</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Carousel -->

{% endblock %}

{% block scripts %}
{% include 'sweetalert2.html' %}
<script src="{% static 'modules/owl-carousel-2/js/owl-carousel2.min.js' %}"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/bootstrap-validator/0.5.3/js/bootstrapValidator.js"></script>
<script>
  $('.carousel').owlCarousel({
    margin: 10,
    loop: true,
    autoplay: true,
    autoplayTimeout: 2800,
    autoplayHoverpause: true,
    responsive: {
      0: {
        items: 1,
        nav: false,
      },
      600: {
        items: 2,
        nav: false,
      },
      1000: {
        items: 3,
        nav: false,
      }
    },
    navText : ["<i class='fas fa-chevron-left'></i>","<i class='fas fa-chevron-right'></i>"]
  });
  $('.shelter-home-card').click(function(){
    window.open($(this).attr('data-url'),'_blank');
  });
</script>

<!--post ad window-->
<div class="modal fade" id="postAd_Modal" tabindex="-1" aria-labelledby="exampleModalLabel" hidden="true">
    <div class="modal-dialog modal-dialog-scrollable px-5 py-3" style="overflow-y: initial !important">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title" id="exampleModalLabel" style = "text-align: center;">Create an Ad Post</h2>
        </div>
        <div class="modal-body" style="max-height: 80vh; overflow-x: hidden; overflow-y:auto;">
          <!--information collection form -->
          <form class="form-container g-3" id = "infoForm" enctype="multipart/form-data" action="/reuse/create_post/" method="POST" role="form" style="margin-right:15px">
            <!--img upload-->
            <div class="upload-image-frame d-flex flex-column align-middle py-4" id="image-frame">
              <div class="upload-text" id="show-image-frame">
                Upload few pictures of the item
              </div>
              <div class="upload-btn">
                <i class="fa fa-plus"></i>
                <span>
                  ADD PICTURES
                </span>
              </div>
            </div>
            <input type="file" name="file[]" class="d-none" id="image-upload" accept="image/*" multiple="multiple" required>
            <br>
            {% csrf_token %}
            <div class ="row">
            <!--left side info-->
            <div class="col-6">
                <div class="form-group">
                  <label for="validationCustom01" class="form-label"><b>Title:</b></label>
                  <input type="text" class="form-control" name="title" id="validationCustom01" placeholder="Enter the Title" required>
                </div>
                <div class="form-group">
                  <label for="validationCustom02" class="form-label"><b>Description:</b></label>
                <textarea type="text" class="form-control" name="description" id="validationCustom02"  placeholder="Enter the Description" required row="30"></textarea>
                </div>
            </div>

            <!--right side info-->
            <div class = "col-6">
              <div class="form-group">
                <label for="validationCustom03" class="form-label"><b>Category:</b></label>
                <select class="form-select" id = "validationCustom03" name="category" aria-label="categories" required>
                  <option value="" disabled selected>Select your option</option>
                  <option value="Furniture">Furniture</option>
                  <option value="Books">Books</option>
                  <option value="Toys">Toys</option>
                  <option value="Electronics">Electronics</option>
                </select>
              </div>
              <div class="form-group">
                <label for="validationCustom04" class="form-label"><b>Your Contact Number:</b></label>
                <input type="number" class="form-control"  id="validationCustom04" name="number" placeholder="Enter your Contact Number" style = "max-width: 100%;" required>
              </div>
              <div class="form-group">
                <label for="validationCustom05" class="form-label"><b>Your E-mail:</b></label>
                <input type="email" class="form-control"  id="validationCustom05" name="email" placeholder="Enter your E-mail" style = "max-width: 100%;" required>
              </div>
              <div class="form-group">
              <label for="validationCustom06" class="form-label"><b>Zipcode of Pick-up Location:</b></label>
                <input type="number" class="form-control" id="validationCustom06" name="zipcode" placeholder="Enter the Zipcode of the loaction" style = "max-width: 100%;" required>
              </div>
            </div>
            </div>
            <div class="d-flex float-right py-3">
              <button type="button" class="btn btn-rounded"  style="background-color: #777 !important;" data-bs-dismiss="modal">Close</button>
              <span class="text-white">.</span>
              <button class="btn btn-rounded" type="submit">Post</button>
            </div>
          </form>
          <!--End of the form-->
          </div>
        </div>
      </div>
    </div>
<!--end of post add modal-->
<script>
if (window.File && window.FileList && window.FileReader) {
      let filesInput = document.getElementById("image-upload");
      filesInput.addEventListener("change", function (event) {
          let files = event.target.files; //FileList object
          let output = document.getElementById("show-image-frame");
          output.innerHTML = "";
          for (let i = 0; i < files.length; i++) {
              let file = files[i];
              //Only pics
              if (!file.type.match('image'))
                  continue;
              let picReader = new FileReader();
              picReader.addEventListener("load", function (event) {
                  let picFile = event.target;
                  let div = document.createElement("div");
                  div.innerHTML = "<img class='thumbnail' src='" + picFile.result + "'" +
                      "title='" + picReader.name + "'/>";
                  output.insertBefore(div, null);
              });
              //Read the image
              picReader.readAsDataURL(file);
          }
      });
  } else {
      console.log("Your browser does not support File API");
  }

  $('#image-frame').click(function(){
    $('#image-upload').trigger('click');
  });

  $(document).ready(function() {
  $('#infoForm').bootstrapValidator({
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
          title: {
                validators: {
                    notEmpty: {
                        message: 'The title is required and cannot be empty'
                    },
                    stringLength: {
                        max: 50,
                        message: 'The title should be less than 50 characters long'
                    }
                }
            },
            description: {
                validators: {
                    notEmpty: {
                        message: 'The description is required and cannot be empty'
                    },
                    stringLength: {
                        max: 200,
                        message: 'The description must be less than 200 characters long'
                    }
                }
            },
            category: {
                validators: {
                    notEmpty: {
                        message: 'Please select a category<br>'
                    }
                }
            },
            email: {
                validators: {
                    notEmpty: {
                        message: 'The email address is required'
                    },
                    emailAddress: {
                        message: 'Please enter a valid email address'
                    }
                }
            },
            zipcode: {
                validators: {
                    notEmpty: {
                        message: 'The zip code is required'
                    },
                    stringLength: {
                        min:5,
                        max:5,
                        message: 'Please enter a valid 5 digit NYC zip code'
                    }
                }
            },
            number: {
                validators: {
                    notEmpty: {
                        message: 'The contact number is required'
                    },
                    stringLength: {
                        min: 10,
                        max:10,
                        message: 'Please enter a valid phone number'
                    }
                }
            }
        }
    })
  })
</script>
{% endblock %}
