{% extends 'template.html' %}
{% load static %}

{% block title %}
reuse | greenCan
{% endblock %}

{% block style %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static 'css/donationCard.css' %}" >
{% endblock %}

{% block main %}

<div class="input-group" style="margin-top:15px;margin-bottom:30px;white-space:nowrap">
    <input type="text" class="form-control" placeholder="Searching an item for donation" style="display:inline"/>
        <button class="btn btn-circle btn-search" style="margin-left: 3px"> <i class="fa fa-search"></i></button>
</div>
<div class = "container">
    <div class="row" id = "wholeCard">
{% for post in Posts %}
        <div class="col-lg-4 col-md-6 col-sm-8 col-xs-8">
            <div class="card">
                <img src={{post.url}} class="card-img-top img-fluid">

                <div class="row" id = "cardInfo">
                    <div class="col-6">
                        <h3>{{post.title|title}}</h3>
                        <i class="fa fa-map-marker" id = "positionIcon"><p class="card-text">{{post.location }}</p></i>
                    </div>

                    <div class = "col-6">
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#details_Model{{post.id}}">Details</button>
                        <!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#details_Model">Details</button> -->

                    </div>         
                </div>

            </div>
        </div>
<!-- pop-up window -->
<div style = "position: absolute;
float: left;
left: 50%;
top: 50%;
max-width: 60%;
transform: translate(-50%, -50%);
background:#ffffff;
border: 2px solid #00000060;
border-radius: 10px;
z-index: 500;
padding:20px;
padding-left: 20px;
padding-right: 20px;

box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.3);"class="modal fade" id="details_Model{{post.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" hidden="true">
    <!-- <div class="details_Model" id="details_Model" tabindex="-1" aria-labelledby="exampleModalLabel" hidden="true"></div> -->
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="exampleModalLabel" style = "text-align: center;">ITEM DETAILS</h3>
        </div>
        <div class="modal-body">
            <p><b>💗 Category:   </b>  {{post.category}}</p>
            <p><b>&#x1f4e6 Item description:   </b>  {{post.description}} </p>
            <p><b>&#128231 Email :   </b>   {{post.email}}</p>
            <p><b>&#128241 Phone number:</b> {{post.phone_number}}</p>
            <p><b>&#x1F4CD Pick-up location:   </b>   {{post.location}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
</div>
{% endfor %}
</div>
</div>



{% endblock %}

{% block scripts %}
<script>

</script>
{% endblock %}