{% extends 'template.html' %}
{% load static %}

{% block title %}
Reuse | greenCan
{% endblock %}
{% block style %}
  <link rel="stylesheet" href="{% static 'css/bg.css' %}" />  
  <style>
    .background{
      background-image: url("{% static 'images/landing/donation.jpg' %}");
      object-fit:cover;
      height: 100vh;
      width: 100vw;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      text-align:center;
      margin:0;
      padding:0;
    }
  
  body {
    overflow-x: hidden;
  }

  </style>
{% endblock %}

{% block main %}
<div class="container-fluid background d-flex justify-content-center py-auto">
  <div class="row justify-content-center align-items-center row-frame mx-3">
    <div class="banner-cards col-md-5 offset-md-0 col-10 d-flex justify-content-center align-items-center mb-md-0 my-2" data-url="{% url 'reuse:donation-page' %}">
      <div class="left-frame">
        <div class="box-left py-md-5 py-3">
          <div class="text-box-left">
            <p class="landing-anchors" >Want to donate an item?</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-2 offset-md-0 d-none d-md-block offset-0 d-flex justify-content-center align-items-center mb-md-0 mb-1">
      <div class="horizontal-divider-l">
        <div class="or-container-l">
            <div>OR</div>
        </div>
      </div>
    </div>
    <div class="banner-cards col-md-5 offset-md-0 col-10 offset-0 d-flex justify-content-center align-items-center mb-md-0 my-2" data-url="{% url 'reuse:listing-page' %}">
      <div class="right-frame"> 
        <div class="box-right py-md-5 py-3">
          <div class="text-box-right">
            <p  class="landing-anchors">Looking for a donated item?</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script>
  $('div.banner-cards').click(function(){
    window.open($(this).attr('data-url'), '_self');
  });
</script>
{% endblock %}
