{% load static %}

<!-- Carousel Section -->
<div class = "anniversary-container" style="background-color: black; width: 100%;">
    <div class = "row" style = "margin: 4vh;">
        <div class="col-md-12">
            <div class="owl-carousel owl-theme py-10">
                <div class="item m-5" style="color: aliceblue; text-align: left;">
                    <div class = "container">
                        <div class = "row">
                            <div class = "col-6">
                                <p style="color: #6ABE52; font-size: xx-large;"><b>RECYCLE</b> </p>
                                <div class="section-title" style="margin-left: 0px;">
                                    <span class="title-seprator title-separator separator-border theme-color-bg" style="text-align: left;"></span>
                                </div>
                                <br>
                                <p> Recycling extracts valuable materials from items that might otherwise be considered trash and turns them into new products. 
                                    Communities have a variety of recycling programs, such as curbside pickup of recyclables, drop-off centers, buy-back centers that pay you for valuable items and deposit-refund programs. 
                                    Deposit-refund programs, which include a deposit as part of the product price, refund consumers when they recycle such items as soda cans and plastic bottles. 
                                    As a consumer, you can also help recycling by purchasing products made from recycled material, such as toilet paper made from recycled pulp. 
                                    <u>If you would like to help with recycling, please check recycle module by clicking "RECYCLE" on the navigation bar above.</u>
                                </p>
                                <br>
                                <button type="button" class="btn btn-rounded read_more_btn" style="font-size: medium!important; font-weight: 200!important; height: 57px; width: 150px; margin-top: 5%;">READ MORE</button>
                            </div>
                            <div class = "col-6" >
                                <img style="max-width: fit-content; height: auto; margin-left: 20%; margin-top: 25%;" src="{% static 'images/homePage/recycle.jpg' %}">
                            </div>
                        </div>
                            <!--<p style="position: absolute; bottom: 0;right: 0;color:#1f3918"><cite>source: https://homeguides.sfgate.com/reduce-reuse-recycle-mean-79717.html</cite></p>-->
                    </div>
                </div>
                <div class="item m-5" style="color: aliceblue; text-align: left;">
                    <div class = "container">
                        <div class = "row">
                            <div class = "col-6">
                                <p style="color:#6ABE52; font-size:xx-large;"><b>REUSE</b> </p>
                                <div class="section-title" style="margin-left: 0px;">
                                    <span class="title-seprator title-separator separator-border theme-color-bg" style="text-align: left;"></span>
                                </div>
                                <br>
                                <p> Rather than throwing out items like clothing or food jars, consumers can find new uses for them -- and thereby reduce their consumption of new resources. 
                                    Composting, using jars to store beverages or leftover food, and trading or selling used DVDs rather than throwing them out are all examples of ways people can reuse. 
                                    Reusing is the second most effective of the three Rs; like reducing, it avoids creating waste rather than trying to recycle it once it's already there. 
                                    <u>If you would like to donate an item that can be reused, or you are looking for second-hand products, please check reuse module by clicking "REUSE" on the navigation bar above.</u>
                                </p>
                                <br>
                                <button type="button" class="btn btn-rounded read_more_btn" style="font-size: medium!important; font-weight: 200!important; height: 57px; width: 150px; margin-top: 5%;">READ MORE</button>
                            </div>
                            <div class = "col-6">
                                <img style = "max-width: fit-content; height: auto; margin-left: 5%; margin-top: 20%;" src ="{% static 'images/homePage/reuse.jpg' %}">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="item m-5" style="color: aliceblue; text-align: left;">
                    <div class = "container">
                        <div class = "row">
                            <div class = "col-6">
                                <p style="color: #6ABE52; font-size: xx-large;"><b>REDUCE</b> </p>
                                <div class="section-title" style="margin-left: 0px;">
                                    <span class="title-seprator title-separator separator-border theme-color-bg" style="text-align: left;"></span>
                                </div>
                                <br>
                                <p> Reducing is the most effective of the three Rs. 
                                    It means reducing your consumption or buying less. 
                                    Designing items like plastic bottles in ways that use less material is another way to reduce consumption. 
                                    Using steel cutlery instead of plastic utensils, buying used goods, mending clothes instead of buying new ones and consuming less electricity are all examples of ways you can reduce in your own life. 
                                    <u>If you are interested in purchasing products that promote reducing, please check reduce module by clicking "REDUCE" on the navigation bar above.</u>
                                </p>
                                <br>
                                <button type="button" class="btn btn-rounded read_more_btn" style="font-size: medium!important; font-weight: 200!important; height: 57px; width: 150px; margin-top: 5%;">READ MORE</button>
                            </div>
                            <div class = "col-6">
                                <img style = "max-width: fit-content; height: auto; margin-left: 5%; margin-top: 20%;" src ="{% static 'images/homePage/reduce.jpg' %}">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="item" style="position: relative;text-align: center;">
                    <!-- Animation Begins --> 
<div class="animated_lines" >
    <!-- Vertical Blend Button Start -->	
    <div class="productionlines">
        <a href="{% url 'rewards:featured-image-gallery' %}">
            <img style = "max-width:max-content; max-height:min-content;" src ="{% static 'images/homePage/greenwall.jpg' %}">
            <div class="desc" style="position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%); color: white;">
            <p style="font-size: 7rem;
            text-align: center;
          height:20vh;
          line-height: 20vh;
            color: #fcedd8;
            font-weight: 700;
          text-shadow: 8px 8px #6ABE52,
						20px 20px #000000;">Green Wall</p>
           
                <h1>&#128433 Click to see what others are doing here... 🎍</h1>
            </div>
        </a>
    </div>
</div> <!-- Vertical Blend Button End -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Carousel Section -->
