{% load static %}

<!-- Developer's Corner -->
<section class="developers-corner">
    <div class="section-title">
        <h1 class="title-text">Developer's Corner</h1>
        <span class="title-seprator title-separator separator-border theme-color-bg"></span>
    </div>
    <div class="outer-container">
        <div class="container">
            <div class="wrapper">
                <a>
                    <img src="{% static 'images/developers/bojian_wang_profile.jpg' %}" class="profile-img" alt="Kevin Patel">
                </a>
                <div class="title" style="margin-bottom: 5%;">Bojian Wang</div>
                <div class="place">New York, NY</div>
            </div>
            <div class="content">
                <p>Software Developer<br /><br/> </p>
                <div class="buttons">
                    <div class="btn">
                        <button class="btn-redirect" data-href="https://www.linkedin.com/in/bojian-wang-6bb313235/">Portfolio</button>
                    </div>
                    <div class="btn">
                        <button class="btn-redirect" data-href="mailto:bw2197@nyu.edu">Message</button>
                    </div>
                </div>
            </div>
            <div class="icons">
                <li>
                    <a target="_blank" href="https://www.linkedin.com/in/bojian-wang-6bb313235/"><span class="fab fa-linkedin"></span></a>
                </li>
                <li>
                    <a target="_blank" href="https://github.com/bojianwangny"><span class="fab fa-github"></span></a>
                </li>
                <li>
                    <a target="_blank" href="https://twitter.com/WangBojian"><span class="fab fa-twitter"></span></a>
                </li>
            </div>
        </div>
        <div class="container">
            <div class="wrapper">
                <a>
                    <img src="{% static 'images/developers/kevin_patel_profile.jpg' %}" class="profile-img" alt="Kevin Patel">
                </a>
                <div class="title" style="margin-bottom: 4%;">Kevin Patel</div>
                <div class="place">New York, NY</div>
            </div>
            <div class="content">
                <p>Project Owner & <br/> Software Developer</p>
                <div class="buttons">
                    <div class="btn">
                        <button class="btn-redirect" data-href="https://kevinpatel.herokuapp.com/">Portfolio</button>
                    </div>
                    <div class="btn">
                        <button class="btn-redirect" data-href="mailto:kevin.patel@nyu.edu">Message</button>
                    </div>
                </div>
            </div>
            <div class="icons">
                <li>
                    <a target="_blank" href="https://linkedin.com/in/kevinpatel04"><span class="fab fa-linkedin"></span></a>
                </li>
                <li>
                    <a target="_blank" href="https://github.com/Kevinpatel04"><span class="fab fa-github"></span></a>
                </li>
                <li>
                    <a target="_blank" href="https://twitter.com/patelkvin04"><span class="fab fa-twitter"></span></a>
                </li>
            </div>
        </div>
        <div class="container">
            <div class="wrapper">
                <a>
                    <img src="{% static 'images/developers/mei_sun_profile.jpg' %}" class="profile-img" alt="Kevin Patel">
                </a>
                <div class="title" style="margin-bottom: 4%;">Mei Sun</div>
                <div class="place">New York, NY</div>
            </div>
            <div class="content">
                <p>Software Developer<br/><br/> </p>
                <div class="buttons">
                    <div class="btn">
                        <button class="btn-redirect" data-href="https://www.linkedin.com/in/mei-sun-b928751a0/">Portfolio</button>
                    </div>
                    <div class="btn">
                        <button class="btn-redirect" data-href="mailto:ms13041@nyu.edu">Message</button>
                    </div>
                </div>
            </div>
            <div class="icons">
                <li>
                    <a target="_blank" href="https://www.linkedin.com/in/mei-sun-b928751a0/"><span class="fab fa-linkedin"></span></a>
                </li>
                <li>
                    <a target="_blank" href="https://github.com/meisun0107"><span class="fab fa-github"></span></a>
                </li>
                <li>
                    <a target="_blank" href="https://twitter.com/MeiSun74639076"><span class="fab fa-twitter"></span></a>
                </li>
            </div>
        </div>
        <div class="container">
            <div class="wrapper">
                <a>
                    <img src="{% static 'images/developers/parth_bhardwaj_profile.jfif' %}" class="profile-img" alt="Kevin Patel">
                </a>
                <div class="title" style="margin-bottom: 4%;">Parth Bhradwaj</div>
                <div class="place">New York, NY</div>
            </div>
            <div class="content">
                <p>Software Developer<br/><br/> </p>
                <div class="buttons">
                    <div class="btn">
                        <button class="btn-redirect" data-href="https://www.linkedin.com/in/parth-bhardwaj-963b29133/">Portfolio</button>
                    </div>
                    <div class="btn">
                        <button class="btn-redirect" data-href="mailto:pb2640@nyu.edu">Message</button>
                    </div>
                </div>
            </div>
            <div class="icons">
                <li>
                    <a target="_blank" href="https://www.linkedin.com/in/parth-bhardwaj-963b29133/"><span class="fab fa-linkedin"></span></a>
                </li>
                <li>
                    <a target="_blank" href="https://www.github.com/parth647"><span class="fab fa-github"></span></a>
                </li>
            </div>
        </div>
        <div class="container">
            <div class="wrapper">
                <a>
                    <img src="{% static 'images/developers/suyash_soniminde_profile.jpeg' %}" class="profile-img" alt="Kevin Patel">
                </a>
                <div class="title" style="margin-bottom: 4%;">Suyash Soniminde</div>
                <div class="place">New York, NY</div>
            </div>
            <div class="content">
                <p>Software Developer <br/> <br/> </p>
                <div class="buttons">
                    <div class="btn">
                        <button class="btn-redirect" data-href="https://www.linkedin.com/in/suyash-soniminde-3a8225194/">Portfolio</button>
                    </div>
                    <div class="btn">
                        <button class="btn-redirect" data-href="mailto:sys8910@nyu.edu">Message</button>
                    </div>
                </div>
            </div>
            <div class="icons">
                <li>
                    <a target="_blank" href="https://www.linkedin.com/in/suyash-soniminde-3a8225194/"><span class="fab fa-linkedin"></span></a>
                </li>
                <li>
                    <a target="_blank" href="https://github.com/TheHarbinger99"><span class="fab fa-github"></span></a>
                </li>
            </div>
        </div>
    </div>
</section>
<!-- Developer's Corner -->
