{% extends 'template.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/home.css' %}"/>
{% endblock %}

{% block main %}

{% include 'home/templates/developers-corner.html' %}

{% include 'home/templates/made-possible-by.html' %}

{% endblock %}

{% block scripts %}
<script>

    // Add profile enlarge animation
    $('.profile-img').click(function(){
        $(this).toggleClass('active');
    });

    // Redirect using button 
    $('.btn-redirect').click(function(){
        window.open($(this).attr('data-href'),'_blank');
    });

</script>
{% endblock %}
