{% load static %}

<!-- Made Possible By -->
<section class="made-possible-by">
    <div class="section-title">
        <h1 class="title-text">Made Possible By</h1>
        <span class="title-seprator title-separator separator-border theme-color-bg"></span>
    </div>
    <div class="outer-container">
        <div class="container">
            <a class="m-1" href="https://www.djangoproject.com/" target="_blank"><img class="img-fluid d-block mx-auto" src="{% static 'images/made-possible-by/django-logo.png' %}" alt="Django" width="auto" height="70" /></a>
            <a class="m-1" href="https://github.com/" target="_blank"><img class="img-fluid d-block mx-auto" src="{% static 'images/made-possible-by/github-logo.png' %}" alt="Github" width="auto" height="70" /></a>
            <a class="m-1" href="https://cloud.google.com/storage/?gclid=EAIaIQobChMIxKLhqavW9gIVeyGtBh15uwQxEAAYASABEgL_MvD_BwE&gclsrc=aw.ds" target="_blank"><img class="img-fluid d-block mx-auto" src="{% static 'images/made-possible-by/google-cloud-storage-logo.png' %}" alt="Google Cloud Storage" width="auto" height="70" /></a>
            <a class="m-1" href="https://www.heroku.com/" target="_blank"><img class="img-fluid d-block mx-auto" src="{% static 'images/made-possible-by/heroku-logo.png' %}" alt="Heroku" width="auto" height="70"/></a>
            <a class="m-1" href="https://leafletjs.com/" target="_blank"><img class="img-fluid d-block mx-auto" src="{% static 'images/made-possible-by/leaflet-logo.png' %}" alt="Leaflet" width="auto" height="80" /></a>
            <a class="m-1" href="https://www.nyu.edu/" target="_blank"><img class="img-fluid d-block mx-auto" src="{% static 'images/made-possible-by/nyu-logo.png' %}" alt="New York University" width="auto" height="70" /></a>
            <a class="m-1" href="https://opendata.cityofnewyork.us/data/" target="_blank"><img class="img-fluid d-block mx-auto" src="{% static 'images/made-possible-by/nyc-open-data-logo.png' %}" alt="NYC Open Data" width="auto" height="70" /></a>
            <a class="m-1" href="https://www.postgresql.org/" target="_blank"><img class="img-fluid d-block mx-auto" src="{% static 'images/made-possible-by/postgresql-logo.png' %}" alt="PostgreSQL" width="auto" height="80"/></a>
        </div>
    </div>
</section>
<!-- Made Possible By -->
