{% load static %}
<!-- Recycle Read More Section -->
<section id = "read_more" class = "anniversary-container" style="width: 100%;">
    <div class = "row" style = "margin: 10vh;">
        <div class = "col-md-5" style="position: relative; overflow:hidden; padding:0%;">
            <img style = "object-fit: cover; height: 100%; width: 100%; margin-left: auto;border-radius: 10px;" src ="{% static 'images/homePage/nyc-waste-image.webp' %}">
            <div id="video-btn" class="d-flex row align-items-center">
                <div class="col-3 py-auto" id="video-play">
                    <span><i class="fas fa-play-circle" style="color: white; font-size: 3.2em;"></i></span>
                </div>
                <div class="col-9">
                    <b> WANT TO SEE WHAT HAPPENS TO YOUR WASTE?</b>
                </div>
            </div>
        
            <div id="show-video">
                <a class="video-close">
                    <span>
                        <svg t="1614676844098" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2082"
                         width="30" height="30">
                            <path d="M591.506286 511.853714l417.133714-416.914285a54.601143 54.601143 0 0 0 0-76.8l-2.267429-2.267429a54.601143 54.601143 0 0 0-76.8 0L512.438857 433.481143 95.305143 15.798857a54.601143 54.601143 0 0 0-76.8 0L16.237714 18.066286a53.577143 53.577143 0 0 0 0 76.8l417.097143 416.987428L16.201143 929.097143a54.601143 54.601143 0 0 0 0 76.8l2.267428 2.267428a54.601143 54.601143 0 0 0 76.8 0l417.170286-417.060571 417.097143 417.097143a54.601143 54.601143 0 0 0 76.8 0l2.267429-2.267429a54.601143 54.601143 0 0 0 0-76.8z"
                             p-id="2083" fill="#e6e6e6"></path>
                        </svg>
                    </span>
                </a>
                <video controls>
                    <source src="https://www.youtube.com/embed/S758wEniU0c">
                </video>
            </div>

            <!-- <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">  data-bs-toggle="modal" data-bs-target="#exampleModal"
                    <div class="modal-body">
                        <iframe width="960" height="715" src="https://www.youtube.com/embed/S758wEniU0c" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div> -->

        </div>

        <div class = "col-md-6" style="margin-left: 2%;">
            <p style="color: #6ABE52; font-size: large;">ABOUT US</p>
            <div class="section-title" style="margin-left: 0px;">
                <h1 class="title-text" style="text-align: left;">We are Taking Small Steps to Make Earth Better Planet</h1>
                <span class="title-seprator title-separator separator-border theme-color-bg" style="text-align: left;"></span>
            </div>
            <p style="color: #888888;">
               One of the serious issues faced by our modern world is environmental pollution, and it is 
               one the most significant challenges that the world is facing in our day. Environmental pollution 
               has existed for centuries.
            </p>
            <div class = "row" style="margin-top: 4%;">
                <p style="color: #888888;"><i class="fas fa-plus-circle"></i> &nbsp Protect and enhance environment for future generations.</p>
            </div>
            <div class = "row">
                <p style="color: #888888;"><i class="fas fa-plus-circle"></i> &nbsp Ecosystems are imperative to maintaining a healthy planet.</p>
            </div>
            <div class = "row" style="margin-bottom: 5%;">
                <p style="color: #888888;"><i class="fas fa-plus-circle"></i> &nbsp Help protect the environment and sustain its natural resources.</p>
            </div>
            <button type="button" class="btn btn-rounded contribution_btn" style="font-size: large!important; font-weight:200 !important; height: 65px; width: 175px;"><b>STATISTICS</b></button>
        </div>
    </div>
</section>
<!-- Recycle Read More Section -->